/*============ Modal Portfolio ============*/
.ModalPortfolio {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 51;
    width: 70%;
    padding: var(--padding16);
    border-radius: 12px;
    overflow-y: auto;
    overflow-x: hidden;

    /* Nội dung chính */
    .ModalPortfolio__container {
        display: flex;
        gap: 24px;
        justify-content: space-between;

        /* Ảnh */
        .ModalPortfolio__img {
            display: flex;
            height: 100%;
            margin-top: 0;
            flex: 1;

            img {
                width: 100%;
                height: 100%;
                border-radius: 12px;
                transition: var(--transition);
                object-fit: cover;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        /* Text */
        .ModalPortfolio__text {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 50%;

            /* Nút đóng */
            .ModalPortfolio__close {
                display: flex;
                justify-content: flex-end;
                cursor: pointer;

                .ModalPortfolio__close-icon {
                    padding: 8px;
                    width: 36px;
                    height: 36px;
                }
            }

            /* Tiêu đề */
            .ModalPortfolio__content {

                span {
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }

                .ModalPortfolio__heading-title {
                    font-weight: var(--fontWeightExBold);
                    margin-top: 8px;
                    margin-bottom: 28px;
                }

                /* Mô tả */
                .ModalPortfolio__desc {
                    overflow-y: auto;
                    max-height: 300px;

                    scrollbar-width: thin;
                    /* mỏng hơn mặc định (~6-8px) */

                    p {
                        line-height: var(--lineHeight26);
                        margin-bottom: 8px;
                        margin-right: 20px;
                    }
                }
            }



            /* Button */
            .ModalPortfolio__button {
                margin-bottom: 12px;
                display: flex;
                gap: 16px;
                cursor: pointer;

                .ModalPortfolio__button-content {
                    padding: 10px 12px;
                    border-radius: var(--border8);
                }

                :hover {
                    transition: var(--transition);
                    color: var(--hoverBtnColor) !important;
                    background-color: var(--hoverBtnBg) !important;

                }
            }
        }

    }
}

/* Overlay */
.ModalPortfolio__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 80%);
}

// ⬆️ Desktop 2K – 4K (1921px – 2560px+)
@media screen and (min-width: 1921px) {
    .ModalPortfolio {
        width: 50%;
    }
}

/* Extra large devices (Laptops, 1025px – 1366px) */
@media screen and (min-width: 1025px) and (max-width: 1366px) {
    .ModalPortfolio {
        width: 90%;

        .ModalPortfolio__container {


            /* Text */
            .ModalPortfolio__text {

                /* Button */
                .ModalPortfolio__button {

                    .ModalPortfolio__button-content {
                        padding: 7.05px 12px;
                        border-radius: 4px;
                    }
                }
            }

        }
    }
}

/* Large devices (Tablets, 769px – 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .ModalPortfolio {
        width: 80%;

        .ModalPortfolio__container {

            /* Ảnh */
            .ModalPortfolio__img {
                display: none;
            }

            /* Text */
            .ModalPortfolio__text {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 50%;

                /* Nút đóng */
                .ModalPortfolio__close {
                    display: flex;
                    justify-content: flex-end;
                    cursor: pointer;

                    .ModalPortfolio__close-icon {
                        padding: 8px;
                        width: 36px;
                        height: 36px;
                    }
                }

                /* Tiêu đề */
                .ModalPortfolio__content {

                    .ModalPortfolio__heading-title {
                        margin-bottom: 12px;
                    }

                    /* Mô tả */
                    .ModalPortfolio__desc {
                        p {
                            margin-bottom: 12px;
                            margin-right: 12px;
                        }
                    }
                }



                /* Button */
                .ModalPortfolio__button {
                    margin-top: 16px;
                    justify-content: end;

                    .ModalPortfolio__button-content {
                        padding: 10px 12px;
                        border-radius: var(--border8);
                    }
                }
            }

        }
    }
}

/* Medium devices (Phones, 577px – 768px) */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .ModalPortfolio {
        width: 90%;

        .ModalPortfolio__container {

            /* Ảnh */
            .ModalPortfolio__img {
                display: none;
            }

            /* Text */
            .ModalPortfolio__text {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 50%;

                /* Nút đóng */
                .ModalPortfolio__close {
                    display: flex;
                    justify-content: flex-end;
                    cursor: pointer;

                    .ModalPortfolio__close-icon {
                        padding: 8px;
                        width: 36px;
                        height: 36px;
                    }
                }

                /* Tiêu đề */
                .ModalPortfolio__content {

                    .ModalPortfolio__heading-title {
                        margin-bottom: 12px;
                    }

                    /* Mô tả */
                    .ModalPortfolio__desc {
                        p {
                            margin-bottom: 12px;
                            margin-right: 12px;
                        }
                    }
                }



                /* Button */
                .ModalPortfolio__button {
                    margin-top: 16px;
                    justify-content: end;

                    .ModalPortfolio__button-content {
                        padding: 10px 12px;
                        border-radius: var(--border8);
                    }
                }
            }

        }
    }
}

/* Small devices (Phones, 361px – 576px) */
@media screen and (min-width: 361px) and (max-width: 576px) {
    .ModalPortfolio {
        width: 100%;
        height: 100%;

        .ModalPortfolio__container {
            flex-direction: column; // ⬅️ thêm dòng này
            width: 100%;
            height: 100%;

            /* Ảnh */
            .ModalPortfolio__img {
                display: none;
            }

            /* Text */
            .ModalPortfolio__text {
                width: 100%;

                /* Nút đóng */
                .ModalPortfolio__close {
                    display: flex;
                    justify-content: flex-end;
                    cursor: pointer;

                    .ModalPortfolio__close-icon {
                        padding: 8px;
                        width: 36px;
                        height: 36px;
                    }
                }

                /* Tiêu đề */
                .ModalPortfolio__content {

                    .ModalPortfolio__heading-title {
                        margin-bottom: 12px;
                    }

                    /* Mô tả */
                    .ModalPortfolio__desc {
                        max-height: 400px;

                        p {
                            margin-bottom: 12px;
                            margin-right: 12px;
                        }
                    }
                }



                /* Button */
                .ModalPortfolio__button {
                    margin-top: 16px;
                    justify-content: end;

                    .ModalPortfolio__button-content {
                        padding: 10px 12px;
                        border-radius: var(--border8);
                    }
                }
            }

        }
    }
}

/* Extra small devices (Super small phones, 0px – 360px) */
@media screen and (max-width: 360px) {
    .ModalPortfolio {
        width: 100%;
        height: 100%;

        .ModalPortfolio__container {
            flex-direction: column; // ⬅️ thêm dòng này
            width: 100%;
            height: 100%;

            /* Ảnh */
            .ModalPortfolio__img {
                display: none;
            }

            /* Text */
            .ModalPortfolio__text {
                width: 100%;

                /* Nút đóng */
                .ModalPortfolio__close {
                    display: flex;
                    justify-content: flex-end;
                    cursor: pointer;

                    .ModalPortfolio__close-icon {
                        padding: 8px;
                        width: 36px;
                        height: 36px;
                    }
                }

                /* Tiêu đề */
                .ModalPortfolio__content {

                    .ModalPortfolio__heading-title {
                        margin-bottom: 12px;
                        font-size: var(--fontSize20);
                        line-height: var(--lineHeight28);
                    }

                    /* Mô tả */
                    .ModalPortfolio__desc {
                        max-height: 400px;

                        p {
                            margin-bottom: 12px;
                            margin-right: 12px;
                            font-size: var(--fontSize14);
                        }
                    }
                }



                /* Button */
                .ModalPortfolio__button {
                    margin-top: 16px;
                    justify-content: end;

                    .ModalPortfolio__button-content {
                        padding: 7.6px 12px;
                        border-radius: var(--border8);
                        font-size: var(--fontSize16);

                    }
                }
            }

        }
    }
}