.resume {
  padding: 0 80px;
  .container {
    max-width: 100%;
    padding: 0;
    height: 150vh;
    .resume-title {
      margin-bottom: 40px;
      margin-top: 20px;

      .resume-heading {
        font-size: 48px;
        font-weight: bold;
        text-align: center;
        &::after {
          content: "";
          position: absolute;
          display: block;
          min-width: 170px;
          height: 3px;
          background: #0073aa;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    .resume-item {
      padding: 0 0 20px 20px;
      margin-top: -2px;
      border-left: 2px solid #1f5297;
      position: relative;

      h4 {
        line-height: 18px;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        color: #050d18;
        margin-bottom: 10px;
      }

      h5 {
        font-size: 16px;
        background: #e4edf9;
        padding: 5px 15px;
        display: inline-block;
        font-weight: 600;
        margin-bottom: 10px;
      }

      ul {
        padding-left: 20px;

        .resume__aboutMe-item {
          padding-bottom: 10px;
          .resume__aboutMe-text {
            color: red;
          }
          a {
            color: #9176ff;
          }
        }
      }

      &:last-child {
        padding-bottom: 0;
      }

      &::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50px;
        left: -9px;
        top: 0;
        background: #fff;
        border: 2px solid #1f5297;
      }
    }
  }
}
