.resume {
    .container {
        padding: 30px 80px;
        max-width: 100%;

        .resume-heading {
            background-image: var(--gradient);
            background-clip: text;
            -webkit-background-clip: text;
            margin-bottom: 36px;
            color: transparent;
            text-align: center;
            font-style: normal;

            &::after {
                content: '';
                position: absolute;
                display: block;
                min-width: 150px;
                height: 3px;
                background: var(--gradient);
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .resume-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: space-between;
            gap: 40px;

            .resume-left {
                .resume-hedding {
                    font-weight: var(--fontWeightExBold);
                    margin-bottom: 24px;
                }

                .resume-circle {
                    padding-left: 20px;
                    border-left: 2px solid var(--primary-500);
                    position: relative;
                    margin-bottom: 20px;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        border-radius: 50px;
                        left: -9px;
                        top: 0;
                        background: var(--primary-500);
                        border: 2px solid var(--primary-500);
                    }

                    .text-title {
                        font-weight: var(--fontWeightExBold);
                        line-height: var(--lineHeight28);
                        text-transform: uppercase;
                        margin-bottom: 16px;
                    }

                    .resume-desc {
                        margin-bottom: 24px;

                        .text-subtitle {
                            line-height: var(--lineHeight26);
                        }
                    }

                    .resume-info {
                        margin: 0;
                        padding-bottom: 16px;

                        .resume-info-text {
                            a {
                                color: inherit;
                            }
                        }
                    }

                    .text-time {
                        margin-bottom: 16px;
                        border: none;
                        color: white;
                        font-size: var(--fontSize13);
                        padding: 8px 12px;
                        font-weight: var(--fontWeightMedium);
                        line-height: var(--lineHeight22);

                        &:hover {
                            transform: none;
                        }

                    }
                }

                .resume-circle2 {
                    padding: 0 0 20px 20px;
                    border-left: 2px solid var(--primary-500);
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        border-radius: 50px;
                        left: -9px;
                        top: 0;
                        background: var(--primary-500);
                        border: 2px solid var(--primary-500);
                    }

                    .text-title {
                        font-weight: var(--fontWeightExBold);
                        text-transform: uppercase;
                        margin-bottom: 16px;
                    }

                    .resume-desc {
                        margin-bottom: 24px;

                        .text-subtitle {
                            line-height: var(--lineHeight26);
                        }
                    }

                    .resume-info {
                        margin: 0;
                        padding-bottom: 16px;

                        .resume-info-text {

                            a {
                                color: inherit;
                            }
                        }
                    }

                    .text-time {
                        margin-bottom: 16px;
                        border: none;
                        color: white;
                        font-size: var(--fontSize13);
                        padding: 8px 12px;
                        font-weight: var(--fontWeightMedium);
                        line-height: var(--lineHeight22);

                        &:hover {
                            transform: none;
                        }
                    }


                }

            }

            .resume-right {
                .resume-hedding {
                    font-weight: var(--fontWeightExBold);
                    margin-bottom: 24px;
                }

                .resume-circle {
                    padding-left: 20px;
                    border-left: 2px solid var(--primary-500);
                    position: relative;
                    margin-bottom: 20px;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        border-radius: 50px;
                        left: -9px;
                        top: 0;
                        background: var(--primary-500);
                        border: 2px solid var(--primary-500);
                    }

                    .text-title {
                        font-weight: var(--fontWeightExBold);
                        text-transform: uppercase;
                        margin-bottom: 16px;
                    }

                    .resume-desc {
                        margin-bottom: 24px;

                        .text-subtitle {
                            line-height: var(--lineHeight26);
                        }
                    }

                    .resume-info {
                        margin: 0;
                        padding-bottom: 16px;

                        .resume-info-text {

                            a {
                                color: inherit;
                            }
                        }
                    }

                    .text-time {
                        margin-bottom: 16px;
                        border: none;
                        color: white;
                        font-size: var(--fontSize13);
                        padding: 8px 12px;
                        font-weight: var(--fontWeightMedium);
                        line-height: var(--lineHeight22);

                        &:hover {
                            transform: none;
                        }
                    }
                }

                .resume-circle2 {
                    padding: 0 0 20px 20px;
                    border-left: 2px solid var(--primary-500);
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        border-radius: 50px;
                        left: -9px;
                        top: 0;
                        background: var(--primary-500);
                        border: 2px solid var(--primary-500);
                    }

                    .text-title {
                        font-weight: var(--fontWeightExBold);
                        line-height: var(--lineHeight28);
                        text-transform: uppercase;
                        margin-bottom: 16px;
                    }

                    .resume-desc {
                        margin-bottom: 24px;

                        .text-subtitle {
                            line-height: var(--lineHeight26);
                        }
                    }

                    .resume-info {
                        margin: 0;
                        padding-bottom: 16px;

                        .resume-info-text {

                            a {
                                color: inherit;
                            }

                        }
                    }

                    .text-time {
                        margin-bottom: 16px;
                        border: none;
                        color: white;
                        font-size: var(--fontSize13);
                        padding: 8px 12px;
                        font-weight: var(--fontWeightMedium);
                        line-height: var(--lineHeight22);

                        &:hover {
                            transform: none;
                        }
                    }


                }

            }


        }
    }
}

//tablet
@media screen and (max-width: 1024px) {
    .resume {

        .container {
            padding: 24px 60px;

            .text-title {
                font-size: var(--fontSize18);
                line-height: var(--lineHeight26);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .resume {
        .container {
            .resume-content {
                grid-template-columns: 1fr;
                gap: 20px;
            }

            .text-title {
                font-size: var(--fontSize20);
                line-height: var(--lineHeight28);
            }
        }
    }
}

@media screen and (max-width: 431px) {
    .resume {
        .container {
            padding: 24px 8px;

            .resume-heading {
                margin-bottom: 20px;
                font-size: var(--fontSize32);
                line-height: var(--lineHeight40);

                &::after {
                    min-width: 130px;

                }
            }

            .text-title {
                font-size: var(--fontSize18);
                line-height: var(--lineHeight26);
            }
        }
    }
}

@media screen and (max-width: 376px) {
    .resume {
        .container {
            .text-title {
                font-size: var(--fontSize16);
                line-height: var(--lineHeight24);
            }
        }
    }
}