.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9; // đảm bảo nằm trên cùng
    background-color: inherit;

    .scroll-progress-bar {
        height: 4px;
        background: linear-gradient(90deg, #00bcd4, #2196f3);
        transform-origin: left;
        transform: scaleX(0);
        transition: transform 0.9s ease-out;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
    }

    .container {
        padding: 20px 80px 30px;
        width: 100%;

        max-width: 100%;

        .header__wrapper {
            display: flex;
            align-items: center;

            .header-left {
                .header-item {
                    display: flex;
                    gap: 28px;
                    padding-left: 0;
                    margin-bottom: 0;

                    .header-text {
                        list-style-type: none;
                        font-style: normal;

                        &:hover {
                            color: var(--primary-500);
                            cursor: pointer;
                        }
                    }
                }
            }

            .header-right {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 12px;

                .language {
                    text-transform: uppercase;
                    padding: 8px 16px;
                    display: inline-block;
                    font-weight: var(--fontWeightMedium);
                    font-size: var(--fontSize18);
                    border: 1px solid var(--primary-500);
                    cursor: pointer;
                    border-radius: 4px;
                    transition: var(--transition);

                    .dropdown-toggle::after {
                        display: none !important;
                    }

                    .dropdown-menu {
                        background-color: transparent;
                        border: 1px solid var(--primary-500);
                        transform: translate3d(-80px, 140px, 0) !important;

                        .dropdown-item {
                            text-align: center;

                            &:hover {
                                background-color: transparent;
                            }

                            .btn {
                                font-weight: var(--fontWeightMedium);
                            }
                        }
                    }
                }
            }
        }

        .header__logo-img {
            cursor: pointer;
            width: 160px;
        }
    }

    // Responsive styles
    @media screen and (max-width: 1024px) {
        .container {
            padding: 20px 60px 30px;

            .header__wrapper {
                .header-right .language .dropdown-menu {
                    transform: translate3d(-60px, 130px, 0) !important;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .container {
            .header__wrapper .header-left .header-item {
                gap: 20px;
            }
        }
    }

    @media screen and (max-width: 431px) {
        .container {
            padding: 12px 8px 24px;

            .header__wrapper {
                .header-left .header-item {
                    gap: 16px;

                    .header-text {
                        font-size: var(--fontSize16);
                    }
                }

                .header-right {
                    gap: 4px;

                    .language {
                        padding: 6px 12px;
                        font-size: var(--fontSize16);

                        .dropdown-menu {
                            transform: translate3d(-10px, 120px, 0) !important;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 376px) {
        .container .header__wrapper {
            .header-left .header-item {
                gap: 12px;
            }

            .header-right {
                gap: 4px;

                .dropdown-menu {
                    min-width: 0;

                    .dropdown-item .btn {
                        line-height: 1;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 321px) {
        .container .header__wrapper {
            .header-left .header-item {
                gap: 12px;

                .header-text {
                    font-size: var(--fontSize13);
                    line-height: var(--lineHeight22);
                }
            }

            .header-right {
                gap: 4px;

                .language {
                    font-size: var(--fontSize13);
                    padding: 6px 6px;
                }

                .dropdown-menu {
                    min-width: 0;

                    .dropdown-item .btn {
                        font-size: var(--fontSize13);
                        line-height: 1;
                    }
                }
            }
        }
    }
}