.skills {
    overflow-x: hidden;

    .skills__container {
        padding: 150px 80px;
        max-width: 100%;
        text-align: center;

        .skills__heading {
            position: relative;
            display: inline-block;
            background-image: var(--gradient);
            background-clip: text;
            -webkit-background-clip: text;
            margin-bottom: 56px;
            color: transparent;
            text-align: center;
            font-style: normal;

            &::after {
                content: '';
                position: absolute;
                bottom: -6px;
                width: 100%; // bằng đúng chữ
                left: 50%;
                transform: translateX(-50%);
                height: 3px;
                background: var(--gradient);
            }
        }

        .skills__content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: left; // đảm bảo text bên trong không bị center

            .skills__left {
                h2 {
                    font-weight: var(--fontWeightExBold);
                    margin-bottom: 4px;
                }

                p {
                    font-weight: var(--fontWeightRegular);
                    margin-bottom: 12px;

                }

                .skills__cv {
                    display: inline-block; // ⬅️ gọn lại, không full width
                    padding: 5.8px 12px;
                    border-radius: 4px;
                    cursor: pointer;
                    transition: var(--transition);

                    .skills__btn-text {
                        display: inline-flex; // text + icon chung container
                        align-items: center; // canh giữa dọc
                        justify-content: center;
                        gap: 6px; // khoảng cách text ↔ icon
                        text-decoration: none;
                        color: inherit; // ăn màu từ btnStyle
                    }

                    &:hover {
                        background: var(--hoverBg);
                        color: var(--hoverColor) !important;
                    }

                }
            }

            .skills__right {
                display: flex;
                gap: 56px;

                .skills__category {
                    h3 {
                        margin-bottom: 36px;
                        font-style: italic;

                    }

                    .skills__list {
                        display: flex;
                        gap: 56px;

                        .skills__items {
                            list-style-type: none;
                            margin: 0;
                            padding: 0;

                            li {
                                margin-bottom: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// ⬆️ Desktop 2K – 4K (1921px – 2560px+)
@media screen and (min-width: 1921px) {
    .skills {
        .skills__container {
            padding: 120px 180px;
        }
    }
}

/* Extra large devices (Laptops, 1025px – 1366px) */
@media screen and (min-width: 1025px) and (max-width: 1366px) {
    .skills {

        .skills__container {
            padding: 80px 40px;

            .skills__heading {
                font-size: var(--fontSize32);
                line-height: var(--lineHeight40);
                margin-bottom: 36px;
            }

            .skills__content {
                display: block; // trở lại mặc định
                text-align: center;

                .skills__left {
                    margin-bottom: 36px;
                }

                .skills__right {
                    gap: 100px;
                    display: flex;
                    text-align: left;
                    justify-content: center;
                }
            }
        }
    }
}

/* Large devices (Tablets, 769px – 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .skills {

        .skills__container {
            padding: 80px 20px;

            .skills__heading {
                font-size: var(--fontSize32);
                line-height: var(--lineHeight40);
                margin-bottom: 36px;
            }

            .skills__content {
                display: block; // trở lại mặc định
                text-align: center;

                .skills__left {
                    margin-bottom: 36px;
                }

                .skills__right {
                    gap: 100px;
                    display: flex;
                    text-align: left;
                    justify-content: center;
                }
            }
        }
    }
}

/* Medium devices (Phones, 577px – 768px) */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .skills {

        .skills__container {
            padding: 80px 12px;

            .skills__heading {
                font-size: var(--fontSize32);
                line-height: var(--lineHeight40);
                margin-bottom: 36px;
            }

            .skills__content {
                display: block; // trở lại mặc định
                text-align: center;

                .skills__left {
                    margin-bottom: 36px;
                }

                .skills__right {
                    display: flex;
                    text-align: left;
                    justify-content: space-between;
                    gap: 16px;

                    .skills__category {
                        h3 {
                            margin-bottom: 36px;
                            font-style: italic;

                        }

                        .skills__list {
                            gap: 36px;

                            .skills__items {

                                li {
                                    margin-bottom: 24px;
                                    font-size: var(--fontSize14);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Small devices (Phones, 361px – 576px) */
@media screen and (min-width: 361px) and (max-width: 576px) {
    .skills {
        .skills__container {
            padding: 24px 8px;

            .skills__heading {
                font-size: var(--fontSize24);
                line-height: var(--lineHeight32);
                margin-bottom: 24px;
            }

            .skills__content {
                display: block; // trở lại mặc định
                text-align: center;

                .skills__right {
                    display: none;
                }
            }
        }
    }
}

/* Extra small devices (Super small phones, 0px – 360px) */
@media screen and (max-width: 360px) {
    .skills {
        .skills__container {
            padding: 24px 8px;

            .skills__heading {
                font-size: var(--fontSize24);
                line-height: var(--lineHeight32);
                margin-bottom: 24px;
            }

            .skills__content {
                display: block; // trở lại mặc định
                text-align: center;

                .skills__right {
                    display: none;
                }
            }
        }
    }
}