.skills {
    overflow-x: hidden;

    .container {
        padding: 140px 80px;
        max-width: 100%;

        .skills-heading {
            background-image: var(--gradient);
            background-clip: text;
            -webkit-background-clip: text;
            margin-bottom: 36px;
            color: transparent;
            text-align: center;
            font-style: normal;

            &::after {
                content: '';
                position: absolute;
                display: block;
                min-width: 100px;
                height: 3px;
                background: var(--gradient);
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .skills-content {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .skills-left {
                width: 40%;

                p {
                    font-weight: var(--fontWeightRegular);
                    margin-bottom: 18px;
                }

                .skills-icon {
                    display: flex;
                    gap: 12px;

                    .icon-btn {
                        font-size: var(--fontSize24);
                        padding: 8px 8px;
                        border: 1px solid var(--primary-500);
                        border-radius: 4px;
                    }
                }
            }

            .skills-right {
                display: flex;
                gap: 56px;

                .skills-category {
                    h3 {
                        margin-bottom: 36px;
                        font-style: italic;

                    }

                    .skills-list {
                        display: flex;
                        gap: 56px;

                        .skills-items {
                            list-style-type: none;
                            margin: 0;
                            padding: 0;

                            li {
                                margin-bottom: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
}

//tablet
@media screen and (max-width: 1024px) {
    .skills {
        .container {
            padding: 24px 60px;

            .skills-content {
                display: grid;
                grid-template-columns: 1fr;
                gap: 40px;

                .skills-left {
                    width: 100%;
                    text-align: center;

                    p {
                        font-weight: var(--fontWeightRegular);
                        margin-bottom: 18px;
                    }

                    .skills-icon {
                        justify-content: center;
                        display: flex;
                        gap: 12px;

                        .icon-btn {
                            font-size: var(--fontSize24);
                            padding: 8px 8px;
                            border-radius: 4px;
                        }
                    }
                }

                .skills-right {
                    justify-content: space-between;

                    .skills-category {
                        .skills-list {
                            gap: 100px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .skills {
        .container {
            .skills-heading {
                margin-bottom: 24px;
            }

            .skills-content {

                .skills-left {
                    width: 100%;
                    text-align: center;

                    p {
                        padding: 0 40px;
                    }
                }

                .skills-right {
                    .skills-category {
                        .skills-list {
                            gap: 20px;
                        }
                    }
                }
            }
        }
    }
}

//mobile
@media screen and (max-width: 431px) {
    .skills {
        .container {
            padding: 24px 8px;

            .skills-heading {
                font-size: var(--fontSize32);
                line-height: var(--lineHeight40);
                margin-bottom: 20px;

                &::after {
                    min-width: 90px;

                }
            }

            .skills-content {

                .skills-left {
                    width: 100%;
                    text-align: center;

                    h2 {
                        margin-bottom: 12px;
                    }

                    p {
                        padding: 0 20px;
                    }
                }

                .skills-right {
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 20px;

                    .skills-category {
                        h3 {
                            margin-bottom: 24px;
                            font-style: italic;

                        }

                        .skills-list {
                            gap: 100px;
                        }
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 376px) {
    .skills {
        .container {
            .skills-content {
                .skills-left {

                    p {
                        padding: 0;
                    }
                }

                .skills-right {
                    .skills-category {
                        h3 {
                            margin-bottom: 24px;
                            font-style: italic;
                        }

                        .skills-list {
                            gap: 80px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 361px) {
    .skills {
        .container {
            .skills-content {
                .skills-right {
                    .skills-category {
                        .skills-list {
                            gap: 40px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 321px) {
    .skills {
        .container {
            .skills-content {
                .skills-right {
                    .skills-category {
                        .skills-list {
                            gap: 28px;
                        }
                    }
                }
            }
        }
    }
}