    .intro {
        overflow-x: hidden; // Ẩn thanh cuộn ngang

        .intro__container {
            padding: 96px 80px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            max-width: 100%;

            .intro__left {
                .intro__intro-text-group {
                    margin-bottom: 4px;

                    .intro__intro-text {
                        font-size: var(--fontSize16);
                        line-height: var(--lineHeight24);
                        font-weight: var(--fontWeightRegular);
                    }

                    .intro__waving-hand {
                        margin: 0 4px;
                    }
                }

                .intro__heading--xl {
                    font-size: var(--fontSize36);
                    line-height: var(--lineHeight44);
                    font-weight: var(--fontWeightExBold);
                    margin-bottom: 8px;
                    background: linear-gradient(to right, var(--primary300) 30%, var(--primary500) 60%, var(--second300) 90%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    animation: textShine 5s ease-in-out infinite alternate;
                    background-size: 500% auto;
                }

                .intro__heading--md {
                    font-size: var(--fontSize32);
                    line-height: var(--lineHeight40);
                    font-weight: var(--fontWeightMedium);
                    margin-bottom: 12px;

                    .intro__typewriter {
                        background: var(--gradient);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-weight: var(--fontWeightBold);
                    }
                }

                .intro__heading--desc {
                    margin-bottom: 16px;
                    font-size: var(--fontSize16);
                    line-height: var(--lineHeight22);
                    font-weight: var(--fontWeightRegular);
                }

                .intro-icon {
                    display: flex;
                    gap: 16px;
                    margin-bottom: 12px;

                    .icon-btn {
                        padding: 7px 6px;
                        border-radius: 6px;
                        width: 44px;
                        height: 44px;

                        &:hover {
                            background-color: var(--hoverIconBg);
                            color: var(--hoverIconColor) !important;
                        }
                    }
                }

                .intro__text {
                    margin: 0;
                }



            }

            .intro__right {
                display: flex;
                justify-content: flex-end;
                position: relative;

                .intro__avatar {
                    // transform: translate(-34px, 30px);
                    transform: translate(-7%, -52%);
                    max-width: 51%;
                    top: 50%;
                    left: 50%;
                    border-radius: 100%;
                    position: absolute;
                    transition: var(--transition);
                }

                .intro__avatar-circle {
                    // max-width: 55%;
                    // max-height: 55%;
                    max-width: 56%;

                }
            }
        }
    }




    //animation
    @keyframes textShine {
        0% {
            background-position: 0% 50%;
        }

        100% {
            background-position: 100% 50%;
        }
    }

    .scroll-text {

        // 👉 Light mode mặc định (chưa reveal)
        &:not(.dark):not(.revealed) span {
            color: var(--black60);
        }

        // 👉 Dark mode mặc định (chưa reveal)
        &.dark:not(.revealed) span {
            color: var(--white70);
        }

        // 👉 Light mode khi đã reveal
        &.revealed span {
            color: var(--black85);
        }

        // 👉 Dark mode khi đã reveal
        &.dark.revealed span {
            color: var(--white100);
        }

        // 👉 Delay animation theo thứ tự ký tự
        &.animated span {
            transition-delay: calc(var(--char-index) * 5ms);
        }
    }

    // ⬆️ Desktop 2K – 4K (1921px – 2560px+)
    @media screen and (min-width: 1921px) {
        .intro {
            .intro__container {
                padding: 140px 180px;

                .intro__right {
                    .intro__avatar {
                        transform: translate(4%, -53%);
                        max-width: 46%;
                    }

                    .intro__avatar-circle {
                        max-width: 50%;

                    }
                }
            }
        }
    }

    /* Extra large devices (Laptops, 1025px – 1366px) */
    @media screen and (min-width: 1025px) and (max-width: 1366px) {
        .intro {
            .intro__container {
                padding: 88px 40px;

                .intro__left {
                    .intro__intro-text-group {
                        .intro__intro-text {
                            font-size: var(--fontSize12);
                        }
                    }

                    .intro__heading--xl {
                        font-size: var(--fontSize24);
                        line-height: var(--lineHeight32);
                        margin-bottom: 8px;
                    }

                    .intro__heading--md {
                        font-size: var(--fontSize20);
                        line-height: var(--lineHeight28);
                    }

                    .intro__heading--desc {
                        font-size: var(--fontSize14);
                    }

                    .intro-icon {
                        gap: 12px;

                        .icon-btn {
                            padding: 7px 6px;
                            border-radius: 6px;
                            width: 40px;
                            height: 40px;
                        }
                    }
                }

                .intro__right {
                    .intro__avatar {
                        transform: translate(-15%, -53%);
                        max-width: 57%;
                    }

                    .intro__avatar-circle {
                        max-width: 60%;

                    }
                }
            }
        }
    }

    /* Large devices (Tablets, 769px – 1024px) */
    @media screen and (min-width: 769px) and (max-width: 1024px) {
        .intro {
            .intro__container {
                padding: 120px 20px;
                grid-template-columns: 1fr;
                text-align: center;

                .intro__left {
                    .intro__heading--xl {
                        font-size: var(--fontSize32);
                        line-height: var(--lineHeight40);
                    }

                    .intro__heading--md {
                        font-size: var(--fontSize24);
                        line-height: var(--lineHeight32);
                    }

                    .intro-icon {
                        justify-content: center;
                    }
                }

                .intro__right {
                    display: none;
                }

            }
        }
    }

    /* Medium devices (Phones, 577px – 768px) */
    @media screen and (min-width: 577px) and (max-width: 768px) {
        .intro {
            .intro__container {
                padding: 100px 12px;
                grid-template-columns: 1fr;
                text-align: center;

                .intro__left {
                    .intro__heading--xl {
                        font-size: var(--fontSize32);
                        line-height: var(--lineHeight40);
                    }

                    .intro__heading--md {
                        font-size: var(--fontSize24);
                        line-height: var(--lineHeight32);
                    }

                    .intro-icon {
                        justify-content: center;
                    }
                }

                .intro__right {
                    display: none;
                }

            }
        }
    }

    /* Small devices (Phones, 361px – 576px) */
    @media screen and (min-width: 361px) and (max-width: 576px) {
        .intro {
            .intro__container {
                padding: 56px 8px;
                grid-template-columns: 1fr;
                text-align: center;

                .intro__left {
                    .intro__intro-text-group {
                        margin-bottom: 4px;

                        .intro__intro-text {
                            font-size: var(--fontSize14);
                            line-height: var(--lineHeight24);
                        }

                        .intro__waving-hand {
                            margin: 0 6px;
                        }
                    }

                    .intro__heading--xl {
                        font-size: var(--fontSize24);
                        line-height: var(--lineHeight32);
                    }

                    .intro__heading--md {
                        font-size: var(--fontSize18);
                        line-height: var(--lineHeight26);
                    }

                    .intro__heading--desc {
                        font-size: var(--fontSize14);
                        line-height: var(--lineHeight24);
                    }

                    .intro-icon {
                        justify-content: center;
                    }
                }

                .intro__right {
                    display: none;
                }

            }
        }
    }


    /* Extra small devices (Super small phones, 0px – 360px) */
    @media screen and (max-width: 360px) {
        .intro {
            .intro__container {
                padding: 28px 8px;
                grid-template-columns: 1fr;
                text-align: center;

                .intro__left {
                    .intro__intro-text-group {
                        margin-bottom: 4px;

                        .intro__intro-text {
                            font-size: var(--fontSize14);
                            line-height: var(--lineHeight24);
                        }

                        .intro__waving-hand {
                            margin: 0 6px;
                        }
                    }

                    .intro__heading--xl {
                        font-size: var(--fontSize24);
                        line-height: var(--lineHeight32);
                    }

                    .intro__heading--md {
                        font-size: var(--fontSize18);
                        line-height: var(--lineHeight26);
                    }

                    .intro__heading--desc {
                        font-size: var(--fontSize14);
                        line-height: var(--lineHeight24);
                    }

                    .intro-icon {
                        justify-content: center;
                    }
                }

                .intro__right {
                    display: none;
                }

            }
        }
    }