@import '../../app.scss';

.footer {
    overflow-x: hidden;

    .container {
        padding: 56px 80px 36px 80px;
        max-width: 100%;

        .footer-line {
            margin-bottom: 36px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #ccc;
            }
        }

        .footer-content {
            display: flex;
            align-items: center;
            justify-content: space-between;



            .footer-logo {
                cursor: pointer;
                width: 160px;
            }



        }
    }
}

//tablet

@media screen and (max-width: 1024px) {
    .footer {
        .container {
            padding: 24px 60px;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        .container {
            .footer-line {
                margin-bottom: 24px;

            }

            .footer-content {
                display: grid;
                align-items: center;
                justify-content: center;
                text-align: center;

                .footer-logo {
                    display: none;
                }

                .footer-align {
                    .footer__text {
                        font-size: var(--fontSize16);
                    }
                }

                .footer-textGmail {
                    display: none;
                }

            }
        }
    }
}

//mobile
@media screen and (max-width: 431px) {
    .footer {
        .container {
            padding: 24px 8px;

        }
    }
}