@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--fontPrimary);
}

*:focus-visible {
    outline: 2px solid var(--primary500);
    outline-offset: 2px;
}

html,
body {
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5; // mặc định tốt cho đọc văn bản
    font-weight: var(--fontWeightRegular);
    background-color: var(--white200);
    font-size: var(--fontSize16);
}

/* ------------ TEXT UTILITIES ------------ */
.textHeading {
    font-size: var(--fontSize36);
    line-height: var(--lineHeight44);
    font-weight: var(--fontWeightBold);
}

.textSubHeading {
    font-size: var(--fontSize24);
    line-height: var(--lineHeight32);
    font-weight: var(--fontWeightMedium);
}

.textTitle {
    font-size: var(--fontSize20);
    line-height: var(--lineHeight28);
    font-weight: var(--fontWeightMedium);
}

.textSubTitle {
    font-size: var(--fontSize18);
    line-height: var(--lineHeight26);
    font-weight: var(--fontWeightMedium);
}

.textbody {
    font-size: var(--fontSize16);
    line-height: var(--lineHeight26);
    font-weight: var(--fontWeightRegular);
    font-family: var(--Montserrat);
}

.textsmall {
    font-size: var(--fontSize12);
    line-height: var(--lineHeight16);
    font-weight: var(--fontWeightExBold);
}

/* Reset common elements */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
button,
ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* ------------ VARIABLES ------------ */
/* ===== Colors ===== */
:root {
    --primary300: #7ccdf0;
    --primary500: #24B6F2;
    --second300: #1B89B6;
    --second600: #13607C;
    --amber: #e76000;
    --amberr: #ffb300;
    --purple: #ffff;

    --black85: rgba(0, 0, 0, 0.85);
    --black70: rgba(0, 0, 0, 0.70);
    --black40: rgba(0, 0, 0, 0.4);
    --black12: rgba(0, 0, 0, 0.2);

    --white100: rgb(255, 255, 255);
    --white70: rgb(255, 255, 255, 0.70);
    --white40: rgba(255, 255, 255, 0.4);
    --white12: rgba(255, 255, 255, 0.2);


    --backgroundDark: #11151c;
    --backgroundLight: var(--white100);
    --textColorDark: var(--white100);
    --textColorlight: var(--black85);

    --colorStart: rgba(17, 21, 28, 1);
    --colorEnd: rgba(13, 50, 65, 0.3);

    --colorLightStart: rgba(252, 252, 252, 1);
    --colorLightEnd: rgba(243, 250, 255, 1);

    /* Gradient */
    --gradient: linear-gradient(90deg, var(--primary500) 0%, var(--second300) 100%);

    /* ===== Font ===== */
    --fontPrimary: 'Montserrat', sans-serif;
    --fontSize48: 48px;
    --lineHeight56: 56px;

    --fontSize36: 36px;
    --lineHeight44: 44px;

    --fontSize32: 32px;
    --lineHeight40: 40px;

    --fontSize24: 24px;
    --lineHeight32: 32px;

    --fontSize20: 20px;
    --lineHeight28: 28px;

    --fontSize18: 18px;
    --lineHeight26: 26px;

    --fontSize16: 16px;
    --lineHeight24: 24px;

    --fontSize14: 14px;
    --lineHeight20: 20px;

    --fontSize12: 12px;
    --lineHeight16: 16px;

    --fontWeightBold: 700;
    --fontWeightExBold: 600;
    --fontWeightMedium: 500;
    --fontWeightRegular: 400;

    /* ===== Animation ===== */
    --transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1); // giống Material UI
    --transition-color: color 0.3s ease;
    --transition-bg: background-color 0.3s ease;
    --transition-transform: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    --transition01: all 0.3s ease-in-out;

    /* ===== Spacing ===== */
    --padding4: 4px;
    --padding8: 8px;
    --padding10: 10px;
    --padding12: 12px;
    --padding16: 16px;
    --padding24: 24px;
    --padding32: 32px;
    --padding48: 48px;
    --padding64: 64px;
    --padding80: 80px;
    --padding96: 96px;
    --padding120: 120px;
    --padding180: 180px;

    --margin4: 4px;
    --margin8: 8px;
    --margin12: 12px;
    --margin16: 16px;
    --margin24: 24px;

    /* ===== Borders ===== */
    --border8: 8px;
    --border12: 12px;
    --border16: 16px;

    /* ===== Toggle ===== */
    --toggle-bg-light: url('/assets/backgroundLight.png') no-repeat center center;
    --toggle-icon-light: var(--amber);
    --toggle-light-shadow: -2px -2px 3px var(--black40) inset;
    --toggle-icon-dark: var(--purple);
    --toggle-dark-shadow: 2px 2px 3px var(--white40) inset;

}

:root[data-theme='dark'] {
    --toggle-bg-dark: url('/assets/backgroundDark.png') no-repeat center center;
}

/* Button styles */
.btn {
    padding: var(--padding8) var(--padding12);
    font-weight: var(--fontWeightMedium);
    transition: var(--transition);
    font-size: var(--fontSize18);
    cursor: pointer;
    border-radius: var(--border8);
    border: 1px solid var(--primary500);

    &:hover {
        transform: scale(1.05);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 6px;
    background-color: var(--white200);

}

::-webkit-scrollbar-thumb {
    border-radius: var(--border8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: var(--second600);
}

body.dark::-webkit-scrollbar {
    width: 6px;
    background-color: var(--backgroundDark);
}

body.dark::-webkit-scrollbar-thumb {
    border-radius: var(--border8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: var(--primary500);
}