@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--Montserrat);
}

body {
    font-weight: var(--fontWeightRegular);
    background-color: var(--white-200);
    font-size: var(--fontSize16);
}


.textHeading {
    font-size: var(--fontSize36);
    line-height: var(--lineHeight44);
    font-weight: var(--fontWeightBold);
}



.textSubHeading {
    font-size: var(--fontSize24);
    line-height: var(--lineHeight32);
    font-weight: var(--fontWeightMedium);
}

.textTitle {
    font-size: var(--fontSize20);
    line-height: var(--lineHeight28);
    font-weight: var(--fontWeightMedium);
}

.textSubTitle {
    font-size: var(--fontSize18);
    line-height: var(--lineHeight26);
    font-weight: var(--fontWeightMedium);
}

.textbody {
    font-size: var(--fontSize16);
    line-height: var(--lineHeight24);
    font-weight: var(--fontWeightMedium);
}

.textsmall {
    font-size: var(--fontSize13);
    line-height: var(--lineHeight22);
    font-weight: var(--fontWeightMedium);
}



h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
button,
ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}



/* ------------ VARIABLES ------------ */
//color
:root {
    //primary
    --primary-300: #7ccdf0;
    --primary-500: #24B6F2;
    //second
    --second-600: #0e466d;

    //Black-theme

    --black-500: #000000;

    //White-theme
    --white: #F5F7F8;
    --white-600: #e8e8e8;


    --backgroundDark: #11151c;
    --backgroundLight: #f9f9f9;
    --textColorDark: #FFFFFF;
    --textColorlight: #545454;

    --colorStart: rgba(17, 21, 28, 1);
    --colorEnd: rgba(13, 50, 65, 0.3);

    --colorLightStart: rgba(252, 252, 252, 1);
    --colorLightEnd: rgba(243, 250, 255, 1);

    --gradient: linear-gradient(90deg, var(--second-600) 0%, var(--primary-500) 100%);

    //font
    --Montserrat: "Montserrat", sans-serif;
    --fontSize36: 36px;
    --lineHeight44: 44px;

    --fontSize32: 32px;
    --lineHeight40: 40px;

    --fontSize24: 24px;
    --lineHeight32: 32px;

    --fontSize20: 20px;
    --lineHeight28: 28px;

    --fontSize18: 18px;
    --lineHeight26: 26px;

    --fontSize16: 16px;
    --lineHeight24: 24px;

    --fontSize13: 13px;
    --lineHeight22: 22px;

    --fontWeightBold: 700;
    --fontWeightExBold: 600;
    --fontWeightMedium: 500;
    --fontWeightRegular: 400;

    //animation
    --transition: all 0.3s linear;
    --transition04: transform 0.4s ease;
}

/* Button styles */
.btn {
    padding: 8px 12px;
    // display: inline-block;
    font-weight: var(--fontWeightMedium);
    transition: var(--transition);
    font-size: var(--fontSize18);
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid var(--primary-500);

    &:hover {
        transform: scale(1.05);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: var(--second-600);
}

body.dark::-webkit-scrollbar {
    width: 12px;
    background-color: #11151c;
}

body.dark::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: var(--primary-500);
}