* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/* ------------ VARIABLES ------------ */
$color: #9176ff;
$dark-color: #2b2b2b;
$dark-icon-color: #fff;
$light-color: #f7f7f7;
$light-icon-color: #ffde59;

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease;
  &.dark {
    background-color: #222;
    color: white;
  }
  &.light {
    background-color: white;
    color: black;
  }
  .sections {
    margin-top: 30px;
  }
  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: lightsalmon;
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; //for firefox
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }

}
